# Ignore everything in .idea
.idea

*.mo
*.pyo
*.pyc
.sass-cache/
yarn-error.log
node_modules/
venv/
.cache/

.data*/

marketplace/django.env
marketplace/settings/local.py
marketplace/settings/local_test.py
marketplace/db.sqlite3
marketplace/assets/
webapp/webapp/build/
webapp/coverage/
webapp/webapp/webpack-stats.json


marketplace/.cache
marketplace/.pytest_cache
marketplace/.coverage
marketplace/coverage
marketplace/cover/

marketplace/docs/_build
